body{
    font-family: Arial;
    background-color:pink;
}


.register{
    width:350px;
    margin:60px auto;
    background:white;
    padding:25px;
    text-align:center; 
}


input{
    width:90%;
    padding:10px;
    margin:8px;
    border:1px solid;
}


button{
    width:95%;
    padding:10px;
    margin:15px;
    background:#ff5722;
    color:white;
}


button:hover{
    background:#e64a19;
} 
